<div ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<div class="generator">
        <div style="background-color: #3B5998; margin-top: -29px;">
          <div class="header ui-wrap">

                <h2>RUN/DOS/RUN</h2>

                <div class="header-url">
                    URL
                    <input type="text" id="inputPackages" class="form-control" style="display: inline-block; width: 90%;" ng-model="packagesUrl" placeholder="{{packagesUrl}}">
                </div>

          </div>
        </div>

        <div class="ui-wrap ui-container" style=" height: 100%; padding-bottom: 182px; ">
            <div class="col-xs-6">
                <div class="test-list">
                    <div class="testng-class" ng-repeat="class in testngPackages.classes">
                        <span class="glyphicon" ng-init="class.expanded=false" ng-class="(class.expanded)?'glyphicon-chevron-up':'glyphicon-chevron-down'" ng-click="class.expanded = !class.expanded"> {{class.name}}</span>
                        <span class="badge pull-right">{{class.tests.length}}</span>
                        <div class="testng-test" ng-repeat="test in class.tests" ng-show="class.expanded">
                            <span class="glyphicon testng-test" ng-class="(test.added)?'glyphicon-remove-circle':'glyphicon-plus-sign'" ng-click="addRemoveTest(class, test)"> {{test.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <textarea ng-model="xmlPreview" id="sourcePreview" readonly="true">

                </textarea>
                <button type="button" class="btn btn-default pull-right" ng-click="uploadToS3();" >
                    <span class="glyphicon glyphicon-play-circle" style="color: #77BA9B"></span> Run
                </button>
            </div>
        </div>


        <div id="modal-progress" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Test Execution</h4>
                    </div>
                    <div class="modal-body">
                        <p><span class="glyphicon glyphicon-ok" style="{{fileUploaded?'color: green;':''}}"></span> Upload file to S3</p>
                        <p><span class="glyphicon glyphicon-ok" style="{{jobExecuted?'color: green;':''}}"></span> Execute Jenkins job</p>
                        <p ng-show="showLink"> Retrieve logs output at: <br>
                            <a href="{{logsLink}}" target="_blank">{{logsLink}}</a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>