<style>
	.features-container{
		overflow: hidden;
		overflow-y: auto;
		height: 100%;
padding-bottom: 61px;
	}
</style>
<div ng-hide="btns.hideBar == true" class="well action-bar">

<div class="input-group">
  <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
</div>

	<div ng-hide="btns.hideBtns == true" class="btn-group btn-group-xs features-actions">
		<div class="btn btn-default" ng-click="createFeature()">Add Item</div>
      <div class="btn-group"  ng-show="statuses.length > 0"ng-class="(statusDDClosed == false)?'open':''" ng-mouseleave="tryCloseDD();" style=" width: 29px; top:0px;cursor=pointer;">
        <div ng-click="$event.stopPropagation(); openDD();" title="{{statusFilter.name}}" class="btn btn-default btn-xs no-opacity feature-status-btn">
            <div class="tcm-icon no-opacity" style="background: url('{{statusFilter.iconUrl}}') 0px -1px;"></div>
        </div>
        <ul class="dropdown-menu pull-right" role="menu" ng-class="(hovered == true)? 'hovered':''" role="menu" ng-mouseover="hovered = true" ng-mouseleave="hovered = false; statusDDClosed = true;">
    		<li ng-click="$event.stopPropagation(); filterByStatus('all')">
            	<a><span class="tcm-icon no-opacity" ng-attr-style="background: url('{{status.iconUrl}}') 0px -1px;" ></span>All
            </a>
            <div class="divider"></div>
          </li>
          <li ng-click="$event.stopPropagation(); filterByStatus(status)" ng-repeat="status in statuses">
            <a><span class="tcm-icon no-opacity" ng-attr-style="background: url('{{status.iconUrl}}') 0px -1px;" ></span>{{status.name}}
            </a>
          </li>
        </ul>
      </div>
	</div>
</div>



<div class="features-container">
  <div ng-show="newFeature.create" class="panel panel-default current testcase" ng-class="">
    <div class="panel-heading" >
      <input class="name editable" ng-model="newFeature.jiraKey"/>
    </div>
    <div class="panel-body" ng-click="$event.stopPropagation()">
      <div class="panel panel-default">
          <div class="panel-body">
          <div class="description-label field-label">Description</div>
          <textarea class="panel-body textarea-tcm editable" ng-model="newFeature.featureName"></textarea>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="btn btn-default btn-sm" ng-click="cancelNewFeature()">How about no</div>
      <div class="btn btn-info btn-sm" ng-click="saveNewFeature()">Save</div>
    </div>
  </div>
	<ng-feature ng-repeat="feature in features | filter:searchText" ng-hide="feature.hide"></ng-feature>
</div>