<style>
.jira-sync {
    height: 100%;
    overflow: hidden;
    padding-bottom: 122px;
}

.iterations-list {
    height: 100%;
    overflow-y: auto;
}
.accordion-container{
    height: 100%;
    overflow-y: auto;
}
.modal-content {
    height: 90%;
    padding-bottom: 80px;
}
.modal-body {
    height: 100%;
}

.alert{
    position: fixed;
    z-index: 1000;
    width: 400;
    margin-left: 50;
}
</style>
<div ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<div style="margin-left: 20px;">
    <div class="container jira-sync">
        <div class="row" >
            <div class="col-md-4" class="bs-sidebar hidden-print affix" role="complementary">
                <div style="width: 100%; padding-bottom: 12;">
                    <input style="width: 100%" type="input"  id="searchIteration" placeholder="Search JIRA Iteration" ng-model="iterationFilter">
                </div>

                <div class="list-group iterations-list" >
                    <div ng-show="(iterations.sprints == null)">
                        <img src="assets/images/loading1.gif" style="width: 400;">
                    </div>
                    <a class="list-group-item" ng-class="selection.jiraIteration==sprint.id?'active':''" ng-repeat="sprint in iterations.sprints | filter:iterationFilter | orderBy:'-id'" ng-click="selection.jiraIteration=sprint.id">{{sprint.name}}</a>
                </div>
            </div>
            <div class="col-md-8">
                <div ng-hide="(issues != null)" style="text-align: center; margin-top: 100px;">
                    <img src="assets/images/jirasync.png" style="width: 400px;">
                </div>
                <div ng-show="(issues != null && issues.contents == null)" style="text-align: center; margin-top: 100px;">
                    <img src="assets/images/loading1.gif">
                </div>
                <div ng-show="(issues.contents != null)">
                    <div ><button type="button" class="btn btn-primary" style="margin-bottom: 5;" data-toggle="modal" data-target="#modal-sync">Syncronize selected items</button></div>
                    <div class="accordion-container">
                        <div class="panel-group" id="accordion" style="width: 700px; display: table-cell;vertical-align: top; " >
                            <div class="panel panel-default" ng-init="incompletedCollapsed = true">
                                <div class="panel-heading" ng-click="incompletedCollapsed = !incompletedCollapsed">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion">
                                            <span><input type="checkbox" ng-model="incompletedSelecteAll" ng-click="$event.stopPropagation();"></span>
                                            Incompleted Issues
                                        </a>
                                    </h4>
                                </div>
                                <div id="incompletedItems" class="panel-collapse collapse" ng-class="(incompletedCollapsed)?'in':''" style="overflow-y: scroll; overflow-x: hidden;">
                                    <div class="panel-body">
                                        <div class="table-responsive" style="overflow-y: scroll; overflow-x: hidden;">
                                            <table class="table table-condensed">
                                                <tr ng-repeat="cissues in issues.contents.incompletedIssues" popover-popup-delay="5" popover-animation="true" popover-title="{{cissues.key}}" popover="{{cissues.summary}}" popover-trigger="mouseenter">
                                                    <td>
                                                        <label>
                                                            <input type="checkbox" ng-model="cissues.selected">
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <img src="{{cissues.typeUrl}}"/>
                                                    </td>
                                                    <td>{{cissues.key}}
                                                    </td>
                                                    <td>{{cissues.summary.substring(0, 60)}}{{(cissues.summary.length > 60)?'...':''}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" ng-init="completedCollapsed = false">
                                <div class="panel-heading" ng-click="completedCollapsed = !completedCollapsed">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion">
                                            <span><input type="checkbox" ng-model="completedSelecteAll" ng-click="$event.stopPropagation();"></span>
                                            Completed Issues
                                        </a>
                                    </h4>
                                </div>
                                <div id="completedItems" class="panel-collapse collapse" ng-class="(completedCollapsed)?'in':''" style="overflow-y: scroll; overflow-x: hidden;">
                                    <div class="panel-body">
                                        <div class="table-responsive" style="overflow-y: scroll; overflow-x: hidden;">
                                            <table class="table table-condensed">
                                                <tr ng-repeat="cissues in issues.contents.completedIssues" >
                                                    <td>
                                                        <label>
                                                            <input type="checkbox" ng-model="cissues.selected">
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <img src="{{cissues.typeUrl}}"/>
                                                    </td>
                                                    <td>{{cissues.key}}
                                                    </td>
                                                    <td>{{cissues.summary.substring(0, 60)}}{{(cissues.summary.length > 60)?'...':''}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="modal-sync" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                    <div style="width: 100%; padding-bottom: 12;">
                        <input style="width: 100%" type="input"  placeholder="Search TCM Iteration" ng-model="tcm_iterationFilter">
                    </div>
                    <div class="list-group" style="height: 100%; overflow-y: auto; padding-bottom: 10px;">
                        <ul class="nav nav-list">
                            <li ng-repeat="r in releasesIterations  | orderBy:'-id'">
                                <label>Release {{r.releaseName}}</label>
                                <ul class="nav nav-list tree">
                                    <li ng-repeat="i in r.iterations | filter:tcm_iterationFilter">

                                        <a class="list-group-item" ng-class="selection.iteration==i.iterId?'active':''" ng-click="selection.iteration=i.iterId">{{i.iterationName}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="syncronize()">Syncronize</button>
                </div>
            </div>
        </div>
    </div>
</div>