<div ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<div style="margin-left: 20px;">
    <div class="container">
        <div class="row" >
            <div class="col-md-4" >
                <ul class="list-group">
                    <li>
                        <div class="">
                            <input type="input"  id="searchIteration" placeholder="Search Iteration" ng-model="iterationFilter">
                        </div>
                    </li>
                    <il class="list-group-item" ng-repeat="sprint in iterations.sprints | filter:iterationFilter | orderBy:sprint.id">
                        {{sprint.name}}
                    </il>
                </ul>
            </div>
            <div class="col-md-8">
                <div ng-hide="(issues != null)" style="text-align: center; margin-top: 100px;">
                    <img src="assets/images/jirasync.png" style="width: 400px;">
                </div>
            </div>
        </div>
    </div>

    <div ng-show="(issues != null)">
        <div class="panel-group" id="accordion" style="width: 700px; display: table-cell;vertical-align: top; " >

            <div class="panel panel-default" ng-init="incompletedCollapsed = true">
                <div class="panel-heading" ng-click="incompletedCollapsed = !incompletedCollapsed">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion">
                            Incompleted Issues
                        </a>
                    </h4>
                </div>
                <div id="incompletedItems" class="panel-collapse collapse" ng-class="(incompletedCollapsed)?'in':''" style="overflow-y: scroll; overflow-x: hidden;">
                    <div class="panel-body">
                        <div class="table-responsive" style="overflow-y: scroll; overflow-x: hidden;">
                            <table class="table table-condensed">
                                <tr ng-repeat="cissues in issues.contents.incompletedIssues" >
                                    <td>
                                        <label>
                                            <input type="checkbox" ng-model="cissues.selected">
                                        </label>
                                    </td>
                                    <td>
                                        <img src="{{cissues.typeUrl}}"/>
                                    </td>
                                    <td>{{cissues.key}}
                                    </td>
                                    <td>{{cissues.summary}}
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-chevron-up" popover="Type: {{cissues.typeName}}\npriorityName: {{cissues.priorityName}}" popover-title="{{cissues.key}}"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-init="completedCollapsed = false">
                <div class="panel-heading" ng-click="completedCollapsed = !completedCollapsed">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion">
                            Completed Issues
                        </a>
                    </h4>
                </div>
                <div id="completedItems" class="panel-collapse collapse" ng-class="(completedCollapsed)?'in':''" style="overflow-y: scroll; overflow-x: hidden;">
                    <div class="panel-body">
                        <div class="table-responsive" style="overflow-y: scroll; overflow-x: hidden;">
                            <table class="table table-condensed">
                                <tr ng-repeat="cissues in issues.contents.completedIssues" >
                                    <td>
                                        <label>
                                            <input type="checkbox" ng-model="cissues.selected">
                                        </label>
                                    </td>
                                    <td>
                                        <img src="{{cissues.typeUrl}}"/>
                                    </td>
                                    <td>{{cissues.key}}
                                    </td>
                                    <td>{{cissues.summary}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="glyphicon glyphicon-share-alt"   style="font-size: 70px; padding: 8px 8px 8px 10px; display: table-cell; vertical-align: top;"></span>
        <div class="well" style="width: 500px; margin: 8px 0; display: table-cell">
            <div style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
                <ul class="nav nav-list">
                    <li ng-repeat="r in releasesIterations">
                        <label>Release {{r.releaseName}}</label>
                        <ul class="nav nav-list tree">
                            <li ng-repeat="i in r.iterations">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <input type="checkbox">
                                  </span>
                                  {{i.iterationName}}
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                </ul>
            </div>
        </div>
    </div>
</div>