<style>
	.sprint-container{
		position: relative;
		height: 100%;
		overflow: hidden;
		overflow-y: auto;
	}


	.panel-tcm.right-panel{
		width: 325px;
		border: none;
		border-top: 1px solid #e7e7e7;
		overflow: hidden;
		padding-bottom: 40px;
	}

	.sprint-container>div {
		background-color: white;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height:100%;
	}

	#releases {
		left: 0px;
	}

.ng-left-nav-panel #iterations {
		left: 400px;
		top: 0px;
	}

.ng-left-nav-panel #features {
		left: 400px;
		top: 0px;
	}
.ng-left-nav-panel #testcases {
		left: 400px;
		top: 0px;
	}

	.nav.left-panel {
		position: fixed;
		top: 65px;
		left: 0px;
	}

	.nav-tabs.right-panel>li>a {
		border-color: #eee #eee #ddd !important;
	}

	.position-reference {
		height: 36px;
		margin-bottom: 0px !important;
	}
	.sprint-container .panel {
		margin-bottom: 0px !important;	
	}

	#features{
		overflow: hidden;
	}
</style>
<div class="panel panel-default panel-tcm left-panel" >
  <div class="panel-body panel-body-tcm" style=" overflow: hidden; height: 100%; padding-bottom: 257px; ">
		<ul class="nav nav-tabs left-panel">
		  <li ng-click="$event.preventDefault(); loadSprint()" ng-class="sprintActiveClass"><a href="">Sprint</a></li>
		  <li ng-click="$event.preventDefault(); loadSuites()" ng-class="suiteActiveClass"><a href="">Suites</a></li>
		</ul>
		<div class="position-reference panel">
	    	<div class="btn-group btn-group-sm pull-left">
				<div ng-show="releases.length > 0" ng-click="backToReleases()"class="btn btn-default">&#47;</div>
				<div ng-show="release.releaseName != ''" ng-click="backToIterations();"class="btn btn-default">Release {{release.releaseName}}</div>
				<div ng-show="iteration.iterationName != '' " ng-click="backToFeatures(); "class="btn btn-default">{{iteration.iterationName}}</div>
				<!-- <div ng-show="feature.featureName != '' " class="btn btn-default">{{feature.featureName}}</div> -->
				<!-- <div ng-show="back.state == true" ng-click="back.last()"class="btn btn-default pull-right">Back</div> -->
	    	</div>
		</div>
    	<div class="sprint-container" ng-show="sprintActiveClass == 'active'">
    		<div id="releases">
	    		<div id="release" class="panel panel-default" ng-hide="rel.hide" ng-repeat="rel in releases" ng-click="getIterations(rel)">
				  <div class="panel-body">
    				Release {{rel.releaseName}}
				  </div>
	    		</div>
    		</div>
    		<div id="iterations">
	    		<div id="iteration" class="panel panel-default" ng-hide="iter.hide" ng-repeat="iter in iterations" ng-click="getFeatures(iter)">
	    			<div class="panel-body">
	    				{{iter.iterationName}}
	    			</div>
	    		</div>
    		</div>
    		<div id="features">
				<ng-features requester="iteration">
    		</div>
    	</div>