<link rel="stylesheet" href="assets/css/login.css">
<div class="form-container">
    <h2>TCM</h2>
    <form id="login-form" method="post" class="form-horizontal" ng:submit="login()">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"/></span>
                    <input id="username" placeholder="Username" type="text" value=""  class="form-control" ng-model="username">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"/></span>
                    <input id="password"  placeholder="Password" type="password" value=""  class="form-control" ng-model="password">
                </div>
        <div ng-hide="loginErrorMessage == '' " class="alert alert-danger">{{loginErrorMessage}}</div>
        <input id="login-button" type="submit" class="btn btn-primary pull-right" data-loading-text="Logging in..." value="Login"/>
    </form>
</div>

