<link rel="stylesheet" href="assets/css/login.css">
<div class="form-container">
    <div class="header">TCM</div>
    <form id="login-form" method="post" class="form-horizontal" ng:submit="login()">
       <!--<div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"/></span>
            <input id="username" placeholder="Username" type="text" value=""  class="form-control" ng-model="username">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"/></span>
            <input id="password"  placeholder="Password" type="password" value=""  class="form-control" ng-model="password">
        </div>
        <div ng-hide="loginErrorMessage == '' " class="alert alert-danger">{{loginErrorMessage}}</div>
          -->
        <div class="githubLoginButton">
            <a class="githubLoginButtonLink" href="http://localhost:9000/auth/github">
                <img src="assets/images/githublogo.png" style="width: 80;"/>
                <span class="githubLoginButtonInside">Login with GitHub</span>
            </a>
        </div>

        <div class="githubLoginButton">
            <a class="githubLoginButtonLink" href="http://localhost:9000/auth/google">
                <img src="assets/images/google.png" style="width: 80;"/>
                <span class="githubLoginButtonInside">Login with Google Account</span>
            </a>
        </div>

        <!--<input id="login-button" type="submit" class="btn btn-primary pull-right" data-loading-text="Logging in..." value="Login"/>-->
    </form>
</div>

