<link rel="stylesheet" href="assets/css/manager.css">
<div ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<div class="manager">

<!-- separate into directive -->



<!-- separate into directive -->

	<div class="panels">
		<div class="panel panel-default panel-tcm left-panel" style=" overflow: hidden; ">
		  <div class="panel-body panel-body-tcm">
<!-- 		    <div class="well action-bar">
		    	<div class="btn-group btn-group-xs pull-right">
		    		<div class="btn" ng-show="iteration.IterId != null"><span class="glyphicon glyphicon-plus-sign"></span></div>
		    	</div>
		    </div> -->

			<ng-left-nav-panel class="ng-left-nav-panel"/>

		  </div>
		</div>
		<div class="panel panel-default panel-tcm middle-panel" ng-style="middleWidth" style="overflow: hidden;">
<!-- TESTCASE -->
			<ng-testcases requester="currentRequester" ></ng-testcases>
<!-- TESTCASE -->
		</div>
			<ng-right-nav-panel class="ng-right-nav-panel" ng-show="showRight == true"/>
	</div>
</div>