<link rel="stylesheet" href="assets/css/manager.css">
<div ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<div class="manager">
	<div class="panels">
		<div class="panel panel-default panel-tcm">
		  <div class="panel-body panel-body-tcm">
		    
			<div ng-repeat="feature in features" class="panel panel-default feature" id="{{feature.featureId}}">
			  <div class="panel-heading panel-heading-tcm">
			  	{{feature.jiraKey}}
				<div class="btn-group btn-group-xs pull-right">
                    <div class="btn" class="no-opacity" ng-show="feature.editMode"><span class="glyphicon glyphicon-remove-circle" ng-click="feature.editMode = false; cancelEditFeature(feature);"></span></div>
					<div class="btn" ng-hide="feature.editMode"><span class="glyphicon glyphicon-pencil" ng-click="feature.editMode = true; angular.copy(feature.featureName,feature.featureTemp)"></span></div>
                    <div class="btn" class="no-opacity" ng-show="feature.editMode"><span class="glyphicon glyphicon-ok-circle" ng-click="feature.editMode = false; saveFeature(feature)"></span></div>
					<div class="btn"><span class="glyphicon glyphicon-trash"></span></div>
				</div>
			  </div>
			<div class="progress progress-tcm">
			  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 10%"/>
				<div class="progress-bar progress-bar-success" role="progressbar" style="width: 10%"/>
				<div class="progress-bar progress-bar-success" role="progressbar" style="width: 10%"/>
				<div class="progress-bar progress-bar-success" role="progressbar" style="width: 10%"/>
				<div class="progress-bar progress-bar-success" role="progressbar" style="width: 10%"/>
				<div class="progress-bar progress-bar-warning" role="progressbar" style="width: 10%"/>
				<div class="progress-bar progress-bar-warning" role="progressbar" style="width: 10%"/>
				<div class="progress-bar progress-bar-danger" role="progressbar" style="width: 10%"/>
				<div class="progress-bar progress-bar-danger" role="progressbar" style="width: 10%"/>
				<div class="progress-bar progress-bar-danger" role="progressbar" style="width: 10%"/>
			</div>
			  <div class="panel-body" contentEditable="{{feature.editMode}}">
			  	{{feature.featureName}}
			  </div>
			</div>


		  </div>
		</div>
		<div class="panel panel-default panel-tcm">
		  <div class="panel-body panel-body-tcm">
		    Basic panel example
		  </div>
		</div>
	</div>
</div>