<link rel="stylesheet" href="assets/css/manager.css">
<div ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<div class="manager">
	<div id="tabs">
		<ul class="nav nav-tabs left-panel">
		  <li ng-click="$event.preventDefault(); selectSprint()" ng-class="(views.sprint.active == true)?'active':'';"><a href="">Sprint</a></li>
		  <li ng-click="$event.preventDefault(); selectSuites()" ng-class="(views.suites.active == true)?'active':'';"><a href="">Suites</a></li>
		</ul>
	</div>

	<tcm-sprint-module id="tcm-sprint-module" ng-show="views.sprint.active == true"></tcm-sprint-module>
	<tcm-suites-module id="tcm-suites-module" ng-show="views.suites.active == true"></tcm-suites-module>
	
</div>