<style>
body{
    background: white;
}
#sprint-metrics {
    overflow-y: auto;
    height: 100%;
}

#sprint-metrics #features {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;
}

#sprint-metrics .feature {
    width: 530px;
    margin: 20px;
    position:relative;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    cursor:default;
}
#sprint-metrics .chart-container{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;
}

#sprint-metrics .feature-name{
    font-size: 35px;
    text-align: center;
    width: 100%;
    cursor:pointer;
}

#sprint-metrics .feature .feature-tests-details {
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#sprint-metrics .feature .progress-tcm {
    height: 24px !important;
    opacity: 0.8;
    border: 1px solid #E3E3E3 !important;
}

#sprint-metrics .feature .feature-tests-details div {
    width: 50px;
    font-size: 19px;
    padding: 5px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    border: 2px solid grey;
    border-radius: 6px;
}

#sprint-metrics .feature .feature-tests-details .pass{
    background: #5CB85C;
}
#sprint-metrics .feature .feature-tests-details .blocked{
    background: #F0AD4E;
}
#sprint-metrics .feature .feature-tests-details .failed{
    background: #D9534F;
}
#sprint-metrics .feature .feature-tests-details .in-progress{
    background: #428BCA;
}
#sprint-metrics .feature .feature-tests-details .notrun{
    background: #F5F5F5;
}
.progress-bar-notrun {
    background-color: whitesmoke;
}
#sprint-metrics .expander {
    margin-left: auto;
    margin-right: auto;
    width: 15;
}

#sprint-metrics highchart {
    display: inline-block;
}

#sprint-metrics .test-status-handle{
    float:left;
    width:5px;
    opacity: 0.8;
    height: 40px;
    position: relative;
    top: -11;
    left: -16;
    border-radius: 3px 0px 0px 3px;
}

.test-automated {
    top: 5;
    position: absolute;
    right: 5;
}
</style>
<div id="sprint-metrics">
    <div id="features">
        <div ng-repeat="feature in features" class="feature" ng-click="openModal(feature);">
            <div class="feature-name" ng-click="openModal(feature);">{{feature.jiraKey}}</div>
            <div class="chart-container" ng-click="openModal(feature);">
                <highchart id="feature.jiraKey" series="feature.exChart[0].series" title="feature.exChart[0].title" options="feature.exChart[0].options"></highchart>
                <highchart id="feature.jiraKey" series="feature.auChart[0].series" title="feature.auChart[0].title" options="feature.auChart[0].options"></highchart>
            </div>
        </div>
    </div>
    <div id="modal-showMetrics" class="modal fade"  tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div  class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{modalData.jiraKey}}</h4>
                </div>
                <div  class="modal-body" style="overflow-y: auto;max-height: 70%;">
                    <div class="row" style=" overflow-y: auto; padding-bottom: 10px;">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default" ng-repeat="tc in modalData.tests | orderBy: 'statusName'">
                                <div class="panel-heading" ng-click="in=(in==='in')?'':'in'" style="position:relative;">
                                    <div ng-show="tc.statusId == 4" class="test-status-handle progress-bar-success" />
                                    <div ng-show="tc.statusId == 2" class="test-status-handle progress-bar-warning" />
                                    <div ng-show="tc.statusId == 3" class="test-status-handle progress-bar-danger" />
                                    <div ng-show="tc.statusId == 1" class="test-status-handle progress-bar-info" />
                                    <div ng-show="tc.statusId == 0" class="test-status-handle progress-bar-notrun" />
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" >
                                            {{tc.name}}
                                        </a>
                                        <div ng-show="tc.automated == 1" title="Automated" class="btn btn-xs test-automated test-automated-{{tc.automated}}">A</div>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse {{in}}" >
                                    <div ng-show="tc.actualResult" class="panel-body">
                                        {{tc.actualResult}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="selectedGraph=null" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>