<div ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<style>
    .btn-pill div:hover {
        text-decoration: none;
        background-color: #f5f5f5;
        cursor: pointer;
    }
    .btn-pill div:first-child {
        -webkit-border-radius: 15px 0px 0px 15px;
        -moz-border-radius: 15px 0px 0px 15px;
        border-radius: 15px 0px 0px 15px;
    }
    .btn-pill .active {
        border: 1px solid #ddd !important;
        box-shadow: #d2e9fa 0 0 50px inset !important;
        -moz-box-shadow: #d2e9fa 0 0 50px inset !important;
        -webkit-box-shadow: #d2e9fa 0 0 50px inset !important;
    }
    .btn-pill div {
        display: inline-block;
        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

    .btn-pill div:last-child {
        -webkit-border-radius: 0px 15px 15px 0px;
        -moz-border-radius: 0px 15px 15px 0px;
        border-radius: 0px 15px 15px 0px;
        margin-left: -5px;
    }

    #refresh-graph {
        border-top: 1px solid #ccc;
        padding-top: 5px;
        position: relative;
        left: -4px;
        padding-left: 5px;
        width: 24px;
        margin-right: -3px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 23px;
        cursor: pointer;
    }

    #refresh-graph:hover{
        background: #ddd;
    }
    .icon-refresh {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .btn-pill {
        cursor: default;
        width: 160px;
        position: relative;
        top: -15px;
        margin-left: auto;
        margin-right: auto;
    }

    #overal div {
        height: 16%;
        border-bottom: 1px dashed;
        position: relative;
        line-height: 2;
        padding-left: 5px;
        font-size: 16px;
    }

    #overal div .value {
        position: absolute;
        right: 4px;
        top: 7;
        font-size: 16px;
    }
    #overal div:nth-child(odd) {
        background: #f7f7f7;
    }
    #InteropMetrics .graph-previews .graph {
        width: 320px;
        height: 200px;
        padding: 6px;
        margin-bottom: 20px;
    }
    .round-corner-all {
        border-radius: 6px;
    }

    #InteropMetrics .graph-previews {
        display: table-cell;
        width: 300px;
        vertical-align: top;
        padding: 8px;
        position: relative;
        top: -30px;
        min-height: 580px;
        background: red;
    }

    .label-inverse {
        background-color: #333;
    }

    .label-important {
        background-color: #b94a48;
    }


    .bs-sidebar.affix-bottom .bs-sidenav, .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .bs-sidenav {

        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-shadow: 0 1px 0 #fff;
        background-color: #f7f5fa;
        border-radius: 5px;
    }

    .report-tc-priority {
        width: 30px;
        box-shadow: 0px 0px 11px -3px inset;
        border-radius: 6px;
        text-align: center;
    }
    .ioteams {
        width: 170px;
        margin-top: 10px;
        float: left;
        margin-left: 10px;
        }
        .ioteams a{
    height: 40px;
}
        .status-label{
            display: inline;
            float: right;
            font-size: 14px;
            position: absolute;
            right: 15px;
        }
    .report-test{
        padding: 4px 5px 4px 5px;
        border: 1px solid #ccc;
    }
</style>
<div>
    <div>
        <ul class="nav nav-tabs" id="interopTabs" style=" margin-bottom: 0px; " ng-init="panel='rlscontrol'">
            
            <li ng-class="panel==='rlscontrol'?'active':''">
                <a data-toggle="#rlscontrol" ng-click="panel='rlscontrol'">Release Overview</a>
            </li>
            <li ng-show="selection.release.id !=0" ng-class="panel==='xteams'?'active':''">
                <a data-toggle="#xteams" style="visibility: visible;" ng-click="panel='xteams'">Teams Overview</a>
            </li>
            <li ng-show="selection.release.id !=0" ng-class="panel==='report'?'active':''">
                <a data-toggle="#report" id="rep" style="visibility: visible;" ng-click="panel='report'">Tests Status</a>
            </li>
<!--             <li ng-show="selection.release.id !=0" ng-class="panel==='full-report'?'active':''">
                <a data-toggle="#full-report" id="rep" style="visibility: visible;" ng-click="panel='full-report'">Summary Report</a>
            </li> -->
        </ul>

<!--                           RELEASE                                -->

        <div class="tab-content" style="height: 100%">
            <div class="tab-pane" ng-class="panel==='rlscontrol'?'active':''" ng-show="panel==='rlscontrol'" id="rlscontrol">
                <ul class="nav nav-pills" id="interopTabs" style=" margin-bottom: 0px; ">
                    <li class="dropdown ioteams active">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">{{selection.release.name}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li  ng-repeat="rls in releases" ng-class="(selection.release.id===rls.id)?'active':''"><a data-toggle="tab" ng-click="selection.release.name=rls.releaseName;selection.release.id=rls.id; getReleaseData();">{{rls.releaseName}}</a></li>
                        </ul>
                    </li>
                </ul>
                <span ng-show="selection.release.id != 0">
                <div id="metrics-controls" ng-init="display_general=true">
                    <div style="margin-top: 35px;"></div>
                    <div class="btn-pill" style="visibility: visible; width: 185px;">
                        <div id="global" ng-class="(display_general==true)?'active':''" ng-click="display_general=true">General</div>
                        <span id="refresh-graph" class="icon-refresh glyphicon glyphicon-refresh" ng-click="refreshReleaseOverview();"></span>
                        <div id="byitem" ng-class="(display_general==true)?'':'active'" ng-click="display_general=false">By Item</div>
                    </div>
                </div>
                <img src="assets/images/loading.gif" id="loading-indicator" style="margin-top: 10%; margin-left: 40%; position: absolute; z-index: 1000; display: none;">

                <div id="metricsContainer" class="startup" ng-show="display_general" style=" display: block;">
                    <div class="graph-container" style="padding-left: 100px;padding-right: 100px;">
                        <div class="main-container" style="vertical-align: top; display: table-cell">
                            <div id="container">
                                <highchart id="previewGraph" series="previewGraph.series" title="previewGraph.title" options="previewGraph.options"></highchart>
                                <span class="glyphicon glyphicon-new-window" ng-click="switchGraph();" ></span>
                            </div>
                            <div class="graph-previews round-corner-all" style="margin-top: 40px;">

                                <div id="overal" style="width: 300px; height: 200px; border: 1px solid rgb(212, 212, 212); margin-bottom: 20px;" class="graph round-corner-all">
                                    <div class="rls-total">
                                        <span>Total</span>
                                        <span class="value label label-inverse">{{executionGraph.total}}</span>
                                    </div>
                                    <div class="rls-passed">
                                        <span>Passed</span>
                                        <span class="value label label-success">{{executionGraph.chartData[0].Passed}}</span>
                                    </div>
                                    <div class="rls-failed">
                                        <span>Failed</span>
                                        <span class="value label label-important">{{executionGraph.chartData[0].Failed}}</span>
                                    </div>
                                    <div class="rls-blocked">
                                        <span>Blocked</span>
                                        <span class="value label label-warning">{{executionGraph.chartData[0].Blocked}}</span>
                                    </div>
                                    <div class="rls-inp">
                                        <span>In Progress</span>
                                        <span class="value label label-info">{{executionGraph.chartData[0]['In Progress']}}</span>
                                    </div>
                                    <div class="rls-nrun">
                                        <span>Not Run</span>
                                        <span class="value label" style="background-color: #999;">{{executionGraph.chartData[0]['Not Run']}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: table-cell">
                            <div id="container2x">
                                <highchart id="selectedGraph" series="selectedGraph.series" title="selectedGraph.title" options="selectedGraph.options"></highchart>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-hide="display_general" style=" overflow: hidden; overflow-y: auto; padding-bottom: 200px; height: 100%; ">
                    <div class="graph-feature rlscontrol" style="width: 450px; height: 350px; display: inline-block" ng-repeat="item in byItemGraphs" >
                        <highchart id="item.id" series="item.series" title="item.title" options="item.options"></highchart>
                    </div>
                </div>
            </span>
            </div>

<!--                           TEAMS                                -->


            <div id="xteams" ng-class="panel==='xteams'?'active':''" ng-show="panel==='xteams'" >
                <div id="metrics-controls2" ng-init="display_team_general=true">
                    <ul class="nav nav-pills" id="interopTabs" style=" margin-bottom: 0px; " style=" visibility: {{(display_team_general == false)?'hidden':'visible'}}; " >
                        <li class="dropdown ioteams active">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{selection.iteration.name}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li  ng-repeat="team in teams" ng-class="(selection.iteration.id===team.IterId)?'active':''"><a ng-click="selection.iteration.name=team.iterationName;selection.iteration.id=team.IterId;getTeamData();">{{team.iterationName}}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="btn-pill" style="visibility: visible; width: 185px;">
                        <div id="global " ng-class="(display_team_general==true)?'active':''" ng-click="display_team_general=true;">General</div>
                        <span id="refresh-graph" class="icon-refresh glyphicon glyphicon-refresh" ng-click="refreshIterationOverview();"></span>
                        <div id="byitem" ng-class="(display_team_general==true)?'':'active'" ng-click="display_team_general=false;">By Item</div>
                    </div>
                </div>

                <div class="graph-container" style="padding-left: 100px;padding-right: 100px;" ng-hide="display_team_general == false">
                    <div class="main-container" style="vertical-align: top; display: table-cell">
                        <div id="container">
                            <highchart id="byTeamPreviewGraph" series="byTeamPreviewGraph.series" title="byTeamPreviewGraph.title" options="byTeamPreviewGraph.options"></highchart>
                            <span class="glyphicon glyphicon-new-window" ng-click="switchByTeamGraph();" ></span>
                        </div>
                        <div class="graph-previews round-corner-all" style="margin-top: 40px;">
                            <div id="overal" style="width: 300px; height: 200px; border: 1px solid rgb(212, 212, 212); margin-bottom: 20px;" class="graph round-corner-all">
                                <div class="rls-total">
                                    <span>Total</span>
                                    <span class="value label label-inverse">{{executionByTeamGraph.chartData.total}}</span>
                                </div>
                                <div class="rls-passed">
                                    <span>Passed</span>
                                    <span class="value label label-success">{{executionByTeamGraph.chartData.Pass}}</span>
                                </div>
                                <div class="rls-failed">
                                    <span>Failed</span>
                                    <span class="value label label-important">{{executionByTeamGraph.chartData.Fail}}</span>
                                </div>
                                <div class="rls-blocked">
                                    <span>Blocked</span>
                                    <span class="value label label-warning">{{executionByTeamGraph.chartData.Blocked}}</span>
                                </div>
                                <div class="rls-inp">
                                    <span>In Progress</span>
                                    <span class="value label label-info">{{executionByTeamGraph.chartData['In Progress']}}</span>
                                </div>
                                <div class="rls-nrun">
                                    <span>Not Run</span>
                                    <span class="value label" style="background-color: #999;">{{executionByTeamGraph.chartData['Not Run']}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: table-cell">
                        <div id="container2x">
                            <highchart id="byTeamSelectedGraph" series="byTeamSelectedGraph.series" title="byTeamSelectedGraph.title" options="byTeamSelectedGraph.options"></highchart>
                        </div>
                    </div>
                </div>
                <div ng-hide="display_team_general == true" style=" overflow: hidden; overflow-y: auto; padding-bottom: 200px; height: 100%; ">
                    <div class="graph-feature rlscontrol" style="width: 450px; height: 350px; display: inline-block" ng-repeat="item in byTeamByItemGraphs" >
                        <highchart id="item.id" series="item.series" title="item.title" options="item.options"></highchart>
                    </div>
                </div>
            </div>

<!--                           REPORT                                -->


            <div id="report" ng-class="panel==='report'?'active':''" ng-show="panel==='report'" >
                        <div style="width: 100%; margin-top: 5px;">

                    <ul class="nav nav-pills" id="interopTabs" style=" margin-bottom: 0px; float: left;">
                        <li class="dropdown ioteams active">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{filterTeamByName}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="$event.preventDefault(); setTeamNameFilter({name:'All Teams'})">All Teams</a></li>
                                <li ng-repeat="team in ReleaseReport" ng-click="setTeamNameFilter(team)"><a >{{team.name}}</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-pills" style="float: right;margin-right: 94;">
                        <li class="dropdown repstates open">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{statusText}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class=""><a ng-click="filterStatusId=''; statusText='All Test Status'">All Test Status</a></li>
                                <li class=""><a ng-click="filterStatusId=0; statusText='Not Run'">Not Run</a></li>
                                <li class=""><a ng-click="filterStatusId=1; statusText='In Progress'">In Progress</a></li>
                                <li class=""><a ng-click="filterStatusId=2; statusText='Blocked'">Blocked</a></li>
                                <li class=""><a ng-click="filterStatusId=3; statusText='Failed'">Failed</a></li>
                                <li class=""><a ng-click="filterStatusId=4; statusText='Passed'">Passed</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9" role="main" style="overflow: auto; height: 100%" data-spy="scroll" data-target=".navbar-report">
                    <div class="bs-docs-section" ng-repeat="team in ReleaseReport" ng-hide="(filteredTestsLength(team, filterStatusId, filterPriority) == 0 || filterTeamName(team))">
                        <div class="page-header">
                            <h1 id="affix" style=" text-align: center; ">{{team.name}}</h1>
                        </div>

                        <div ng-repeat="feature in team.features " id="affix-ftr-{{team.name}}-{{$index}}" style=" margin-bottom: 60px; " ng-hide="filteredTestsLengthByFeature(feature, filterStatusId, filterPriority) == 0">
                            <h3 id="affix-usage" style=" height: 45px; font-weight: 400; padding-left: 50px;">{{feature.name}} Tests Set</h3>
                            <div class="progress" style=" width: 300; float: right; position: relative; top: -47px; ">
                                <div class="progress-bar progress-bar-success" style="width: {{(feature.pass*100)/feature.total}}%">
                                    <span class="sr-only">{{(feature.pass*100)/feature.total}}% Complete (success)</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: {{(feature.blocked*100)/feature.total}}%">
                                    <span class="sr-only">{{(feature.blocked*100)/feature.total}}% Blocked (warning)</span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: {{(feature.failed*100)/feature.total}}%">
                                    <span class="sr-only">{{(feature.failed*100)/feature.total}}% Failed (danger)</span>
                                </div>
                                <div class="progress-bar progress-bar-info" style="width: {{(feature.inprogress*100)/feature.total}}%">
                                    <span class="sr-only">{{(feature.inprogress*100)/feature.total}}% In Progress</span>
                                </div>
                            </div>
                            <!-- <h3>Test Cases</h3> -->
                                <div ng-repeat="test in feature.tests  | filter:{statusId: filterStatusId} | filter:{priority: filterPriority}" ng-switch on="test.statusId">
                                    <div class="panel panel-default" style=" margin-bottom: 1px; ">
                                        <div class="panel-body" style=" position: relative; ">
                                          <!-- <div style="display: inline" class="report-tc-priority">P{{test.priority}}</div> -->
                                            <div style="display: inline">{{test.name}}</div>
                                            <div style="display: inline" ng-switch-when="0" class="label label-inverse status-label">Not Run</div>
                                            <div style="display: inline" ng-switch-when="1" class="label label-info status-label">In Progress</div>
                                            <div style="display: inline" ng-switch-when="2" class="label label-warning status-label">Blocked</div>
                                            <div style="display: inline" ng-switch-when="3" class="label label-important status-label">Failed</div>
                                            <div style="display: inline" ng-switch-when="4" class="label label-success status-label">Pass</div>
                                        </div>
                                      </div>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-showMetric" class="modal fade"  tabindex="-1" role="dialog">
    <div class="modal-dialog" style=" height: 85%; ">
        <div  class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{details.title}}</h4>
            </div>
            <div  class="modal-body" style="overflow: hidden;height: 90%;overflow-y: auto;">
                <div class="row" style=" overflow-y: auto; padding-bottom: 10px;">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" ng-repeat="tc in details.tcs">
                            <div class="panel-heading" ng-click="in=(in==='in')?'':'in'">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" >
                                        {{tc.name}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse {{in}}" >
                                <div class="panel-body">
                                    {{tc.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>