<div ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<style>

</style>
<div style="margin-left: 20px;">
    <div class="container metrics-release">
        <div class="row" >
            <div class="col-md-4" class="bs-sidebar hidden-print affix" role="complementary">
                <div style="width: 100%; padding-bottom: 12;">
                    <input style="width: 100%" type="input"  placeholder="Search Iteration" ng-model="iterationFilter">
                </div>
                <div class="list-group" style=" height: 100%; overflow-y: auto; padding-bottom: 10px;">
                    <ul class="nav nav-list">
                        <li ng-repeat="r in releasesIterations  | filter:iterationFilter | orderBy:'-id'">
                            <label>Release {{r.releaseName}}</label>
                            <ul class="nav nav-list tree">
                                <li ng-repeat="i in r.iterations | filter:iterationFilter">
                                    <a class="list-group-item" ng-class="(selection.iteration===i.iterId)?'active':''" ng-click="selection.iteration=i">{{i.iterationName}}
                                       <span class="badge pull-right" ng-show="(selection.iteration===i.iterId)">
                                           <img src="assets/images/icon-permalink.png" ng-click="openHotLink(i.iterId)"/>
                                       </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8" ng-show="selection.iteration.iterId==null">
                <img src="assets/images/Marketing-Performance-Metrics.jpg"/>
            </div>
            <div class="col-md-8" ng-show="selection.iteration.iterId!=null">

                <div class="row" >
                    <div class="col-md-6">
                        <a class="thumbnail" data-toggle="modal" data-target="#modal-showMetric" >
                            <highchart id="executed" series="executed.series" title="executed.title" options="executed.options"></highchart>
                            <span class="glyphicon glyphicon-new-window" ng-click="selectGraph(executed); selection.graph='executed'"></span>
                        </a>

                    </div>
                    <div class="col-md-6" >
                        <a class="thumbnail" data-toggle="modal" data-target="#modal-showMetric" >
                            <highchart id="daily" series="daily.series" title="daily.title" options="daily.options"></highchart>
                            <span class="glyphicon glyphicon-new-window" ng-click="selectGraph(daily); selection.graph='daily'"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="modal-showMetric" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:{{(details == true)?'auto':'900px'}}">
        <div  class="modal-content" style="width: auto;">
            <div  class="modal-body" style="overflow: visible">
                <div class="row" style=" display: inline-block; vertical-align: top;">
                    <highchart id="selectedGraph" series="selectedGraph.series" title="selectedGraph.title" options="selectedGraph.options"></highchart>
                </div>
                <div class="row" ng-show="details" style="height: 75%; overflow-y: auto; padding-bottom: 10px;display: inline-block;position: relative;width: 50%;">
                    <div>{{selection.iteration.iterationName}} - Tests {{selectedPieSection.statusName}}</div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" ng-repeat="tc in detailsByStatus">
                            <div class="panel-heading" ng-click="in=(in==='in')?'':'in'">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" >
                                        {{tc.name}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse {{in}}" >
                                <div class="panel-body">
                                    {{tc.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-show="details" ng-click="details=false">Hide details</button>
                <button type="button" class="btn btn-default" ng-click="details=false; selectedGraph=null;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>