<div ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<div>
    <ul class="nav nav-tabs" style="padding-top: 15; margin-right: 150;margin-left: 150;">
        <li><a data-target="#Jira" data-toggle="tab">Jira</a></li>
    </ul>
    <div class="tab-content" style="padding-top: 15; padding-left: 150; padding-right: 150;">
        <div class="tab-pane active" id="Jira">
            <label>
                <input type="checkbox" ng-model="plugins.jira['enabled']" ng-checked="plugins.jira['enabled']"> Enabled
            </label>
            <div class="input-group input-group-sm" style='width: 80%;'>
                <span class="input-group-addon" style="width: 120px;">jira.user</span>
                <input type="text" class="form-control" placeholder="Jira User" ng-model="plugins.jira['jira.user']"></input>
            </div>

            <div class="input-group input-group-sm" style='width: 80%;'>
                <span class="input-group-addon" style="width: 120px;">jira.password</span>
                <input type="password" class="form-control" placeholder="Jira password" ng-model="plugins.jira['jira.password']"></input>
            </div>

            <div class="input-group input-group-sm" style='width: 80%;'>
                <span class="input-group-addon" style="width: 120px;">jira.address</span>
                <input type="text" class="form-control" placeholder="Jira Adress" ng-model="plugins.jira['jira.address']"></input>
            </div>

            <div class="input-group input-group-sm" style='width: 80%;'>
                <span class="input-group-addon" style="width: 120px;">jira.project</span>
                <input type="text" class="form-control" placeholder="Jira Project" ng-model="plugins.jira['jira.project']"></input>
            </div>
            <div class="input-group input-group-sm" style='width: 80%;'>
                <span class="input-group-addon" style="width: 120px;">jira.greenhopper</span>
                <input type="text" class="form-control" placeholder="Jira greenhopper" ng-model="plugins.jira['jira.greenhopper']"></input>
            </div>
            <div class="input-group input-group-sm" style='width: 80%;'>
                <span class="input-group-addon" style="width: 120px;">jira.jql</span>
                <input type="text" class="form-control" placeholder="Jira jql" ng-model="plugins.jira['jira.jql']"></input>
            </div>
        </div>
        <button type="button" data-loading-text="Saving..." data-toggle="button" class="btn btn-primary" style="margin-top: 15px" ng-click="plugins.$update()">
            Save
        </button>
    </div>
</div>