<div ng-controller="TopMenuCntl">
    <ng-include src="topmenu"></ng-include>
</div>
<div>
    <ul class="nav nav-tabs" style="padding-top: 15; margin-right: 150;margin-left: 150;">
        <li><a data-target="#Releases" data-toggle="tab">Releases</a></li>
        <li><a data-target="#Misc" data-toggle="tab">Misc</a></li>
    </ul>

    <div class="tab-content" style="padding-top: 15; padding-left: 150; padding-right: 150;">
        <div class="tab-pane active table-responsive" style="margin-left: 100;" id="Releases">
            <div style="display: table-cell;">
                <table class="table table-hover table-condensed" style="width: 400px;">
                    <tr>
                        <td ><input type="text" class="form-control" placeholder="Add new release ..." ng-model="newRelease" ng-model-onblur="addNew()"></input></td>
                    </tr>
                    <tr ng-repeat="r in releases" ng-class="(r.id == selectedRelease.id)?'active':''" ng-click="updateIterations(r.id, r.releaseName);">
                        <td >
                            <div style="display: table-cell">
                                <span class="input-group-addon" >Release</span>
                            </div>
                            <div style="display: table-cell; width: 100%;">
                                <input type="text" class="form-control" ng-model="r.releaseName" ng-model-onblur="r.$update()"></input>
                            </div>
                        </td>
                        <td style="width: 26;"><span class="glyphicon glyphicon-ban-circle" ng-click="deleteRelease(r)" ng-show="r.id == selectedRelease.id"></span></td>
                    </tr>

                </table>
            </div>

            <div style="display: table-cell; padding-left: 20; width: 500px; background-color: #f5f5f5;">
                <h4>Iterations for Release {{selectedRelease.name}}</h4>
                <table class="table table-hover table-condensed" >
                    <tr>
                        <td ><input type="text" class="form-control" placeholder="Add new iteration for  Release {{selectedRelease.name}} ..." ng-model="newIteration" ng-model-onblur="addNewIteration()"></input></td>
                    </tr>
                    <tr ng-repeat="i in iterations">
                        <td ><input type="text" class="form-control" placeholder="{{i.iterationName}}" ng-model="i.iterationName" ng-model-onblur="i.$update()"></input></td>
                        <td style="width: 26;"><span class="glyphicon glyphicon-ban-circle" ng-click="deleteIteration(i)" ></span></td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="tab-pane table-responsive" style="margin-left: 100; margin-right: 100;" id="Misc">
            <form role="form" ng-submit="projectConfig.$update();">
                <div class="form-group">
                    <label for="bugsURL">Bugs URL</label>
                    <input type="text" class="form-control" id="bugsURL" placeholder="URL" ng-model="projectConfig.bugurl">
                </div>
                <div class="form-group">
                    <label for="itersPerSpring">Iterations per Spring</label>
                    <input type="text" class="form-control" id="itersPerSpring" placeholder="iters per spring" ng-model="projectConfig.springIterations">
                </div>
                <div class="form-group">
                    <label for="iterDuration">Iteration duration (weeks):</label>
                    <input type="text" class="form-control" id="iterDuration" placeholder="iter duration" ng-model="projectConfig.iterationDuration">
                </div>
                <button type="submit" class="btn btn-default">Save</button>
            </form>

        </div>
    </div>
</div>