<style>
	.tab-content{
		position: relative;
		height: 100%;
		overflow: hidden;
	}


	.panel-tcm.right-panel{
		width: 325px;
		border: none;
		border-top: 1px solid #e7e7e7;
		overflow: hidden;
		padding-bottom: 40px;
	}

	.ng-right-nav-panel 	#releases {
		height: auto;
			left: 0px;
			position: relative;
	}

	.ng-right-nav-panel 	#iterations {
		height: auto;
		left: 400px;
		top: -50px;
		position: relative;
	}

	.ng-right-nav-panel 	#features {
		height: auto;
		left: 400px;
		top: -100px;
		position: relative;
		background: white;
	}	

	 .ng-right-nav-panel .tab-content-element{
		height: auto;
		left: 0px;
		position: relative;
	 }

	.ng-right-nav-panel 	#testcases {
		left: 400px;
		top: 93px;
		height: 100%;
		padding-bottom: 93px;
		position: absolute;
		width: 100%;
	}
	.ng-right-nav-panel 	#tagstestcases {
		left: 0px;
		top: 0px;
		height: 100%;
		padding-bottom: 50px;
		position: absolute;
		width: 100%;
	}

	.ng-right-nav-panel 	#suitetestcases {
		left: 400px;
		top: 50px;
		height: 100%;
		padding-bottom: 50px;
		position: absolute;
		width: 100%;
	}

	.nav.right-panel {
		position: absolute;
		top: 76px;
		right: 0px;
	}


	.position-reference {
		height: 36px;
		margin-bottom: 0px !important;
	}

	#release, #iteration, #tag {
		margin-bottom: 0px !important;	
	}


	.single-tag {
		border-radius: 25px 6px 6px 25px;
		height: 30px;
		position: relative;
	}

	#tag .panel-body{
		padding:5px;
	}

	.single-tag .cordon{
		border-radius: 15px;
		height: 14px;
		width: 14px;
		position: relative;
		border: 1px solid #ddd;
		float: left;
		top: 2px;
		margin-right: 10px;
	}

.ng-right-nav-panel .testcase .name {
	width: 240px;
}

.ng-right-nav-panel .ngTagsInput {
	width: 320px !important;
	opacity: 1 !important;
}


.ng-right-nav-panel .ngTagsInput .tags{
	opacity: 1 !important;
}

.ng-right-nav-panel .ngTagsInput .autocomplete{
	opacity: 1 !important;
}

</style>
<div class="panel panel-default panel-tcm right-panel" >
  <div class="panel-body panel-body-tcm" >
		<ul class="nav nav-tabs right-panel" ng-show="hideInit == true">
		  <li ng-click="$event.preventDefault(); loadSprint()" ng-class="sprintActiveClass"><a href="">Sprint</a></li>
		  <li ng-click="$event.preventDefault(); loadSuites()" ng-class="suiteActiveClass"><a href="">Suites</a></li>
		  <li ng-click="$event.preventDefault(); loadTags()" ng-class="tagActiveClass"><a href="">Tags</a></li>
		</ul>
		<div>
			<ul class="nav nav-pills nav-stacked" ng-hide="hideInit == true">
			  <li ng-click="$event.preventDefault(); hideInit= true; loadSprint()" ><a href="">Sprint</a></li>
			  <li ng-click="$event.preventDefault(); hideInit= true; loadSuites()" ><a href="">Suites</a></li>
			  <li ng-click="$event.preventDefault(); hideInit= true; loadTags()" ><a href="">Tags</a></li>
 			</ul>
		</div>
		<div class="position-reference panel">
	    	<div ng-show="sprintActiveClass == 'active'" class="btn-group btn-group-sm pull-left">
				<div ng-show="releases.length > 0" ng-click="backToReleases()"class="btn btn-default">&#47;</div>
				<div ng-show="release.releaseName != ''" ng-click="backToIterations();"class="btn btn-default">Release {{release.releaseName}}</div>
				<div ng-show="iteration.iterationName != '' " ng-click="backToFeatures(); "class="btn btn-default">{{iteration.iterationName}}</div>
	    	</div>
	    	<div ng-show="suiteActiveClass == 'active'" class="btn-group btn-group-sm pull-left">
				<div ng-show="suites.length > 0 && hideSuites == true" ng-click="backToSuites()"class="btn btn-default">Back</div>
	    	</div>
	    	<div ng-show="tagActiveClass == 'active'" class="btn-group btn-group-sm pull-left no-opacity" style=" position: absolute; z-index: 99999; ">
				<!-- <div ng-show="tags.length > 0 && hideTags == true" ng-click="backToTags()"class="btn btn-default">Back</div> -->
				<tags-input ng-model="tagstringToFecthArray"
				            custom-class="bootstrap"
				            placeholder="Get them all!"
				            replace-spaces-with-dashes="false"
				            add-on-comma="true"
				            add-on-space="false"
				            max-length="20"
				            on-tag-added="addTagToFetch($tag)"
				            on-tag-removed="removeTagToFetch($tag)">
				  <auto-complete source="getTagInput($query)"
				                 min-length="1"
				                 max-results-to-show="5000">
				  </auto-complete>
				</tags-input>
	    	</div>
		</div>
    	<div class="sprint-container  tab-content" ng-show="sprintActiveClass == 'active'">
    		<div id="releases">
	    		<div id="release" class="panel panel-default" ng-hide="rel.hide" ng-repeat="rel in releases  | orderBy:'-id'" ng-click="getIterations(rel)" ng-class="(release ==  rel)?'active':'';">
				  <div class="panel-body">
    				Release {{rel.releaseName}}
				  </div>
	    		</div>
    		</div>
    		<div id="iterations">
	    		<div id="iteration" class="panel panel-default" ng-hide="iter.hide" ng-repeat="iter in iterations  | orderBy:'-IterId'" ng-click="getFeatures(iter)" ng-class="(iteration ==  iter)?'active':'';">
	    			<div class="panel-body">
	    				{{iter.iterationName}}
	    			</div>
	    		</div>
    		</div>
    		<div id="features">
    			<ng-features requester="iteration" btns="featBtnConfig" hidenotcurrent="true">
    		</div>
    		<div id="testcases">
				<ng-testcases requester="currentRequester" btns="btnConfig" tcminactive="tcsHidden"></ng-testcases>
    		</div>
    	</div>

    	<div class="suite-container tab-content" ng-show="suiteActiveClass == 'active'">
	    		<div id="suites"  class="tab-content-element">
		    		<div id="suite" class="panel panel-default" ng-hide="suite.hide" ng-repeat="suite in suites" ng-class="(suite.active == true)?'active':'';" ng-click="getSuiteTestcases(suite)">
					  <div class="panel-body">
	    				{{suite.name}}
					  </div>
		    		</div>
	    		</div>
    		<div id="suitetestcases">
				<ng-testcases requester="currentRequesterSuite" btns="btnConfig" tcminactive="suiteTcsHidden"></ng-testcases>
    		</div>
    	</div>


    	<div class="tag-container  tab-content" ng-show="tagActiveClass == 'active'">
<!--     		<div id="tags" class="tab-content-element">
    			<div ng-repeat="tag in tags" id="tag" ng-hide="tag.hide" class="panel panel-default single-tag" ng-click="loadTagTc(tag)">
	    			<div class="panel-body">
	    				<div class="cordon"></div>{{tag.name}}
	    			</div>
	    			<div class="btn-group" style=" position: absolute; right: 0; top: 0; ">
		    			<div class="btn" ng-hide="deleteFlag == true"><span class="glyphicon glyphicon-trash" ng-click="$event.stopPropagation(); deleteFlag = true;"></span></div>
						<div class="btn btn-danger btn-xs btn-delete" ng-show="deleteFlag == true" ng-click="$event.stopPropagation(); deleteTag(tag, deleteText)" ng-mouseleave="$event.stopPropagation(); deleteFlag = false" style=" margin-top: 3px; margin-right: 3px; border-radius: 4px; ">{{(deleteText) || 'Delete?' }}</div>
	    			</div>
    			</div>
    		</div> -->
    		<div id="tagstestcases">
				<ng-testcases requester="currentRequesterTags" btns="btnConfig" tcminactive="tagsTcsHidden"></ng-testcases>
    		</div>
    	</div>