<div class="panel panel-default testcase  {{(checked == true)?'tcmselected':''}}" ng-class="(tc.current == true)?'active':''" ng-click="selectTc(tc)" tcm-draggable  tcmDragStart="handleDragStart(tc)" tcmDragRevert="handleDragRevert(tc)" >
	<div class="panel-heading" >
		<div class="draggable-handle" ng-class="(tc.linked == 1)?'linked':'';"></div>
		<input style="margin-left:-8px;" type="checkbox" ng-model="tc.checked" ng-click="$event.stopPropagation();"/>
		<!-- <input class="priority" ng-class="tc.editMode==true?'editable':''" ng-model="tc.priority" ng-disabled="tc.editMode==false?true:''" ng-click="(tc.editMode == true)?$event.stopPropagation():'';"/>		 -->
		<input class="name" ng-class="tc.editMode==true?'editable':''" title="{{tc.name}}" ng-model="tc.name" ng-disabled="tc.editMode==false?true:''" ng-click="(tc.editMode == true)?$event.stopPropagation():'';"/>
		<div ng-hide="btns.hideStatus == true" class="btn-group btn-group-xs pull-right">
            <div class="btn no-opacity" ng-show="tc.editMode"><span class="glyphicon glyphicon-remove-circle" ng-click="$event.stopPropagation(); cancelEditTC(tc, element);"></span></div>
			<div class="btn" ng-hide="tc.editMode"><span class="glyphicon glyphicon-pencil" ng-click="$event.stopPropagation(); editTC(tc)"></span></div>
            <div class="btn no-opacity" ng-show="tc.editMode"><span class="glyphicon glyphicon-ok-circle" ng-click="$event.stopPropagation(); saveTC(tc)"></span></div>
            <div title="Clone Test" class="btn copy-icon"  ng-click="$event.stopPropagation(); cloneTc(tc)"></div>
			
			

				<div class="btn" ng-hide="tc.delete"><span class="glyphicon" ng-class="(tc.linked == 0)?'glyphicon-trash':'glyphicon-link' " ng-click="$event.stopPropagation(); tc.delete = true; cancelEditTC(tc, element);"></span></div>

				<div class="btn btn-danger btn-delete" ng-show="tc.delete" ng-click="$event.stopPropagation(); deleteTC(tc)" ng-mouseleave="$event.stopPropagation(); tc.delete = false">{{deleteText}}</div>


			<span ng-hide="btns.hideDropdown">
				<tc-status-dropdown test="tc"></tc-status-dropdown>
			</span>
		</div>
	</div>

	<div class="panel-body" ng-show="tc.current" ng-click="$event.stopPropagation()">
		<span ng-hide="btns.hideDropdown">
			<ng-tags-widget test="tc" ></ng-tags-widget>
		</span>
		<div ng-show="(isEmpty(tc.description) == false || tc.editMode == true)" class="panel panel-default">
			<div class="panel-body">
				<div class="description-label field-label">Description</div>
				<textarea class="panel-body textarea-tcm" ng-class="tc.editMode==true?'editable':''" ng-model="tc.description" ng-disabled="tc.editMode==false?true:''"></textarea>
			</div>
		</div>
		<span ng-hide="btns.hideDropdown">
			<div ng-hide="isEmpty(tc.actualResult) && tc.editARMode==false" class="panel panel-default">
					<div class="panel-body">
					<div class="actual-result-label field-label">Last Run Result</div>
					<textarea class="panel-body textarea-tcm" ng-class="tc.editARMode==true?'editable':''" ng-model="tc.actualResult" ng-disabled="tc.editARMode==false?true:''"></textarea>
					<div ng-hide="tc.editARMode==false" class="btn btn-default" ng-click="undoRun()">Discard Run</div>
					<div ng-hide="tc.editARMode==false" class="btn btn-info" ng-click="saveRun()">Save Run</div>
				</div>
			</div>
		</span>
		<span ng-show="tc.editMode==true">
			<div ng-show="tc.parentId != null" class="panel-footer">
				<div class="update-parent"><input type="checkbox" ng-model="tc.updateParent">Update Parent</input></div>
			</div>
		</span>
        <span ng-switch on="tc.editMode">

            <h5 ng-switch-when="false">Attachments:</h5>
            <span ng-switch-when="true"><lvl-file-upload
                    auto-upload='false'
                    choose-file-button-text='Attach files'
                    choose-file-button-style='btn btn-primary btn-sm'
                    max-files='10'
                    max-file-size-mb='5'
                    on-done='done(files, data)'
                    on-progress='progress(percentDone)'
                    on-error='error(files, type, msg)'
                    on-file-added='fileAdded(file)'
                    /></span>
            <ul>
                <li ng-repeat="file in tc.attachments"><a href="{{file.url}}" target="_blank">{{file.name}}</a></li>
            </ul>
        </span>
	</div>
</div>