.generator .header {
    background-color: #3B5998;
    padding: 14px;
    color: #ffffff;
}

.generator .ui-wrap {
    max-width: 100%;

    margin-left: 50px;
    margin-right: 50px;
}

.generator .test-list {
    /*background-color: #293E6A;*/


}

.generator .testng-class{
    color: #B6A754;

}

.generator .ui-container {
    margin-top: 10px;
}

.generator .testng-test{
    color: #FFFFFF;
    margin-left: 30px;
}

.generator textarea#sourcePreview {
    width: 100%;
    min-height: 560px;
    color: #ffffff !important;
    background-color: #2e3436;
    border: none;
    border-radius: 6px;
    /*font-weight: bold;*/
    margin-bottom: 10px;
    font-size: 16;
overflow-x: auto;
}

.generator textarea {
    height: auto;
}

.generator .header-url {
    width: 80%;
}

.generator .col-xs-6 {
    background: #2e3436;
    border-radius: 6px;
    height: 100%;
    font-size: 18px;
overflow: hidden;
overflow-y: auto;
padding-bottom: 50px;
}