/*remove blue glow*/

.simplebox {
  outline: none;
  border:none !important;
  box-shadow:none !important;
}

.panel-tcm {
	height: 100%;
	margin-left: 326px;
	overflow-y: auto;
}

.panel-body-tcm {
	padding: 3px;
}

.panels {
	padding-bottom: 80px;  /*ADJUST PANELS HEIGHT*/
	height: 100%;
}

.panel-tcm:first-of-type{
	float:left;
	width: 325px;
	margin-left: 0px;
	border: none;
	border-top: 1px solid #e7e7e7;
}

.progress.progress-tcm {
	margin-bottom: 0px;
	height: 5px;
	border-radius: 0px;
	opacity: 0.6;
}

.progress-bar-notrun {
	background-color: whitesmoke;
}

.feature {
	margin-bottom: 6px;
	/*width: 95%;*/
}

.panel-heading.panel-heading-tcm {
	padding: 4px 9px;
	padding-right: 0px;
}

.feature .panel-body {
	padding: 9px;
	outline: none !important;
}

.feature:hover{
	width: 100%;
}

.feature:hover .panel-heading-tcm{
	background-color: #DDD;
}

.feature .btn-delete {
	border-radius: 4px !important;
	margin-right: 5px;
}

.feature .editable {
	border-top: none !important;
}

.textarea-tcm {
	width: 100% !important;
	border: none;
	resize: none !important;
	border-radius: 4px !important;
	color: #333 !important;
}

.feature .textarea-tcm {
	max-height: 118px;
}

.feature.active .panel-heading-tcm {
	background-color: #e2f2ff;
}



.testcase {
	/*border:1px solid;*/
}

.testcase .name {
	width: 80%;
	border: none;
	background: transparent;
}

.testcase .name.editable {
	background: white;
}

.testcase .btn-delete {
	border-radius: 4px !important;
	margin-right: 5px;
}
