/*remove blue glow*/

.simplebox {
  outline: none;
  border:none !important;
  box-shadow:none !important;
}

.panel-tcm {
	height: 100%;
	overflow-y: auto;
}

.panel-body-tcm {
	padding: 3px;
}

.panels {
	padding-bottom: 109px;  /*ADJUST PANELS HEIGHT*/
	height: 100%;
}

.panels .panel-tcm {
	display: inline-block;
}
.panel-tcm.left-panel{
	width: 325px;
	border: none;
	border-top: 1px solid #e7e7e7;
	float: left;
	position: absolute;
}

.panel-tcm.middle-panel{
	width: 325px;
	border-top: 1px solid #e7e7e7;
	margin-left: 327px;
	min-width: 830px;
}



.progress.progress-tcm {
	margin-bottom: 0px;
	height: 5px;
	border-radius: 0px;
	opacity: 0.6;
}

.progress-bar-notrun {
	background-color: whitesmoke;
}

.feature {
	margin-bottom: 6px;
	/*width: 95%;*/
}

.panel-heading.panel-heading-tcm {
	padding: 4px 9px;
	padding-right: 0px;
}

.feature .panel-body {
	padding: 9px;
	outline: none !important;
}

.feature:hover{
	width: 100%;
}

.feature-status-btn {
	background-color: transparent;
border-color: transparent;
cursor: pointer;
}

.feature:hover .panel-heading-tcm{
	background-color: #DDD;
}

.feature .btn-delete {
	border-radius: 4px !important;
	margin-right: 5px;
}

.feature .editable {
	border-top: none !important;
}

.textarea-tcm {
	width: 100% !important;
	border: none;
	resize: none !important;
	border-radius: 4px !important;
	color: #333 !important;
}

.feature .textarea-tcm {
	max-height: 118px;
}

.feature.active .panel-heading-tcm {
	background-color: #e2f2ff;
}

.feature .closed {
    display: inline-block;
    margin-left: 10px;
}



.testcase {
	/*border:1px solid;*/
}

.panel .action-bar {

}

.panel .action-bar .btn-group {
	top: -12px;
}

.panel .action-bar .btn-group span{
	font-size: 16px;
}

.panel-expander {
	height: 40px;
	width: 16;
	position: absolute;
top: 104px;
right: 319;
}

.tcm-item {
	width: 100%;
	height: 180px;
	overflow: hidden;
	position: relative;
	padding-top: 28px; 
}

.tcm-item .item-header {
	position: absolute;
	top:0;
	left: 0;
height: 28;
box-shadow: 0px 0px 12px -4px black;
width: 100%;

}

.tcm-item .cont {
	overflow: hidden;
	overflow-y: auto;

}

.tcm-item .item-description {
	overflow: hidden;
	overflow-y :auto;
	height: 100%;
	width:49%;
	display: inline-block;
	font-size: 13px;
line-height: 1.3077;
font-family: Arial,FreeSans,Helvetica,sans-serif;
}

.tcm-item .item-name, .tcm-item .item-key {
	display: inline-block;
	margin-left: 10px;
}

.tcm-item pre {
background: transparent;
font-size: 13px;
line-height: 1.3077;
font-family: Arial,FreeSans,Helvetica,sans-serif;
}
.item-comment {
padding: 5px;

}

.jira-comments-container {
	height: 100%;
	overflow-y: auto;
	width: 50%;
	display: inline-block; 
}

.comment-author-avatar {
	width: 32px;
height: 32px;
border: 2px solid whitesmoke;
border-radius: 25px 0px 25px 25px;
box-shadow: 0px 0px 10px -3px black;
position: relative;
background-size: 100% !important;
display: inline-block;
z-index: 3;
float: left;
}

.comment-author-name {
display: inline-block;
display: inline-block;
border: 2px solid white;
border-radius: 0px 6px 6px 0px;
box-shadow: 0px 1px 10px -3px black;
font-size: 13px;
margin-left: -4;
padding-left: 8;
position: relative;
top: 0px;
z-index: 2;
border-left: none;
background: black;
color: white;
padding-right: 6px;
float: left;
}

.comment-created {
display: inline-block;
}