html{
    width:100%;
    /*height:100%;*/
    /*position:absolute;*/
    /*z-index:50;*/
    overflow: hidden;
    min-height:100%;
   position:relative;
   outline: none;

}

body{
     width:100%;
    /*height:100%;*/
    margin:0;
    padding-top:0px;
    font-family:"CambridgeRound","Helvetica Neue",
    Helvetica,Arial,sans-serif;
    color:#454545
    min-height:100%;
   position:relative;
}

pre{
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word
}

input, textarea {
    border-radius: 4px;
}

.editable {
    border: #DDD dashed 1px !important;
}

.btn-group div{
    opacity: 0.5;
}

.no-opacity {
    opacity: 1 !important;
}

.btn-group div:hover{
    opacity: 1 !important;
}

.opaque {
    opacity: 0.5 !important;
}

.release-iteration-selector a:hover{
    text-decoration: none !important;
}

.release-iteration-selector{
    font-size: 16px;
    text-decoration: none !important;
}

.dropdown-pull-left {
    left: inherit !important;
    right: 0px !important;
}

.tcm-drag-helper span{
    font-size: 32px;
    z-index: 2000;
}

.tcmselected .panel-heading{
    background-color: #ddd;
}
.draggable-over {
    border: 2px dashed #777;
}

.draggable-dropped {
    -webkit-animation: cssAnimation 0.300s 1 linear;
    -moz-animation: cssAnimation 0.300s 1 linear;
    -o-animation: cssAnimation 0.300s 1 linear;
    }
    @-webkit-keyframes cssAnimation {
    from { -webkit-transform: rotate(0deg) scale(1.000) skew(0deg) translate(0px); }
    to { -webkit-transform: rotate(0deg) scale(1.050) skew(0deg) translate(0px); }
    }
    @-moz-keyframes cssAnimation {
    from { -moz-transform: rotate(0deg) scale(1.000) skew(0deg) translate(0px); }
    to { -moz-transform: rotate(0deg) scale(1.050) skew(0deg) translate(0px); }
    }
    @-o-keyframes cssAnimation {
    from { -o-transform: rotate(0deg) scale(1.000) skew(0deg) translate(0px); }
    to { -o-transform: rotate(0deg) scale(1.050) skew(0deg) translate(0px); }
}

.nav-pills>li>a {
    border: 1px solid;
    padding: 7px;
}

.copy-icon {
    background: url('/assets/images/copy-icon.png')  -1px -1px;
    height: 16px;
    width: 16px;
    background-size: 110%;
    margin-top: 2px;
}

.loading-small {
    background: url('/assets/images/loading-small.gif');
    height: 16px;
    width: 16px;
    background-size: 100%;
}

.tcm-icon {
        height: 16px;
    width: 16px;
    background-size: 100%;
    display: inline-block;
    padding: 0px 0px;
    margin-bottom: 0;
    cursor: default;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
    float: left;
    margin-right: 7px;
}
.jira-status-icon {

}