html{
    width:100%;
    /*height:100%;*/
    /*position:absolute;*/
    /*z-index:50;*/
    overflow: hidden;
    min-height:100%;
   position:relative;
   outline: none;

}

body{
     width:100%;
    /*height:100%;*/
    margin:0;
    padding-top:0px;
    font-family:"CambridgeRound","Helvetica Neue",
    Helvetica,Arial,sans-serif;
    color:#454545
    min-height:100%;
   position:relative;
}

pre{
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word
}

input, textarea {
    border-radius: 4px;
}

.editable {
    border: #DDD dashed 1px !important;
}

.btn-group div{
    opacity: 0.5;
}

.no-opacity {
    opacity: 1 !important;
}

.btn-group div:hover{
    opacity: 1 !important;
}

.opaque {
    opacity: 0.5 !important;
}

.release-iteration-selector a:hover{
    text-decoration: none !important;
}

.release-iteration-selector{
    font-size: 16px;
    text-decoration: none !important;
}

.dropdown-pull-left {
    left: inherit !important;
    right: 0px !important;
}

.tcm-drag-helper span{
    font-size: 32px;
}