.testcase {
	font-size: 12px !important;
}

	.draggable-handle {
		width: 12px;
		height: 42px;
		float: left;
		margin-right: 10px;
		position: relative;
		left: -15px;
		top: -11px;
		background-color: darkcyan;
		cursor: pointer;
		cursor: -webkit-grab;
		cursor: -moz-grab;
		opacity: 0.7;
		border-radius: 2px 0px 0px 2px;
		border-right: 1px solid #999;
	}

.testcase input.checkbox {
	margin-left: -8px;
}
	.testcase .name {
	width: 60%;
	margin-left: 10px;
	border: none;
	background: transparent;
	font-weight: 500;
}

.testcase .priority {
	width: 30px;
	margin-left: 10px;
	border: none;
	background: transparent;
}

.testcase .name.editable, .testcase .priority.editable {
	background: white;
}

.testcase .btn-delete {
	border-radius: 4px !important;
	margin-right: 5px;
}

.testcase:hover .panel-heading{
	background-color: #DDD;
}

.testcase.active .panel-heading {
	background-color: #e2f2ff;
}

.testcase.active .panel-footer {
	background-color: #e2f2ff;
}

.testcase.panel {
	margin-bottom: 2px;
}

.testcase .field-label {
	border-bottom: 1px solid;
	padding: 0px 0px 2px 0px;
	position: absolute;
	border-color: #ccc;
	z-index: 200;
	font-size: 14px;
}

.testcase .textarea-tcm {
	margin-top: 22px;
	max-height: 300px;
min-height: 100px;
}

.testcase .panel-body .panel-body {
	position: relative;
	padding: 5px;
	padding-left: 15px;
	padding-top: 8px;
}

	.status-button {
		border-radius: 4px !important;
		padding: 1px 3px 1px 5px !important;
		width: 81px;
	}

.testcase .panel-body .panel-default {
border: none;
border-bottom: 1px solid #ccc;
border-radius: 0px;
padding: 0px;
margin-bottom: 2px;
}


/*tags*/

.tag{
background-color: #428BCA;
font-size: 13px;
font-weight: inherit;
float: left;
margin-right: 4px;
}

.tags-container {
    padding: 5px !important;
}

.tag-input {
    background:transparent;
    border:none;
    outline:none !important;
}

.tag-remove {
top: 1px;
position: relative;
left: 3px;
font-size: 11;
}

.draggable-handle.linked {
background-color: #2b2b9b;
}


.testcase .squaredThree {
	top:2px;
	margin-left: -17px;
}


.no-tests {
text-align: center;
color: #ccc;
font-size: 20px;
}

.testcase .attach-image {
	width: 60px;
height: 73px;
border-radius: 4px;
background-size: 400% !important;
cursor: pointer;
position: relative;
}

.testcase .delete-attach {
	position: absolute;
	top: 55px;
	left: 43px;
	background: aliceblue;
	padding: 3px;
	width: 23;
	height: 24;
	border-radius: 6px;
	box-shadow: 0px 0px 13px 1px;
	cursor: pointer;
}

 .testcase .delete-attach:hover {
	background: red;
}

.test-automated-1{
    color: #43A4A4;
    font-weight: bold;
    border: 2px solid #43A4A4;
    border-radius: 5px !important;
    opacity: 0.8 !important;
}
.up-button {margin-left: 16px; margin-top: 21; margin-bottom: 16; }

.fileExt{ color: white; margin-left: 9; font-size: 16; float: left; }