.avatar {
	width: 28px;
	border: 2px solid white;
	border-radius: 15px;
	box-shadow: 0px 0px 10px -3px black;
	position: relative;
	top: -1px;
}

.navbar.navbar-tcm {
	max-height: 57px;
	border-radius: 0px;
	border-bottom: 2px solid #4b94d4;
}